*{
    box-sizing: border-box;
  }
  
  body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1rem;
    font-weight:normal;
    line-height:1.5;
    color:#333;
    overflow-x:hidden;
  }
  
  .v-header{
    height:100vh;
    display:flex;
    align-items:center;
    color:#fff;
  }
  
  .container{
    max-width:960px;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    text-align:center;
  }
  
  .fullscreen-video-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
  }
  
  .fullscreen-video-wrap video{
    min-height:70%;
    min-width:100%;
  }
  
  .header-overlay{
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    z-index:1;
    background:#765DBC;
    opacity:0.73;
  }
  
  .header-content{
    z-index:2;
  }
  
  .header-content h1{
    font-size:50px;
    margin-bottom:0;
  }
  
  .header-content p{
    font-size:1.5rem;
    display:block;
    padding-bottom:2rem;
  }

  .btn {
    background: #765DBC;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    border-width: 0px;
  }


  .btn:hover {
    color: #fff;
    background-color: #4A36A2;
    border-color: #4A36A2;
  }
  
  .btn:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(74, 54, 162, 0.5);
  }

  .btn:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4A36A2;
    border-color: #4A36A2;
  }

  .btn:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(74, 54, 162, 0.5);
  }

  .section{
    padding:20px 0;
  }
  
  .section-b{
    background:#333;
    color:#fff;
  }

  .no-hover-link a:hover{
    text-decoration: none;
  }
  
  @media(max-width:960px){
    .container{
      padding-right:3rem;
      padding-left:3rem;
    }
  }