.idea/*
bin/
target/
.project
.classpath
.settings
.bpmn
*.iml
*.zip
*.war
*.log
.pmd
mta-assembly
.DS_Store
.factorypath
!com.sap.cloud.lm.sl.cf.process/src/test/resources/com/sap/cloud/lm/sl/cf/process/steps/web.zip
