<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true" packages="com.sap.hcp.cf.log4j2.converter,com.sap.hcp.cf.log4j2.layout">
	<Appenders>
     <Console name="STDOUT-JSON" target="SYSTEM_OUT" follow="true">
 				<JsonPatternLayout charset="utf-8"/>
     </Console>
	</Appenders>
  <Loggers>
     <Root level="${LOG_ROOT_LEVEL:-DEBUG}">
        <AppenderRef ref="STDOUT-JSON" />
     </Root>
     <Logger name="com.sap.hcp.cf" level="${LOG_HCP_CF_LEVEL:-DEBUG}"/>
  </Loggers>
</Configuration>
